.navbar{
	background-color: #c3cde6;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: 500px;

}
table {
	border-collapse: collapse; 
	width: 100%;
	margin-bottom: 20px;
	}
th, td{
	text-align: left;
	padding: 8px;
}	
th{
	background-color: black;
	color: white;
	}
img{
	width: 100;
}
